<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>    
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/themes.css">
    <link rel="stylesheet" href="../styles/condensed.css">
</head>
<body>
    <!-- component -->
    <nav class="nav-menu">
        <label role="button" type="button" class="nav-menu-btn" for="nav-menu-btn">
            <input
                role="tab" 
                aria-selected="true" 
                aria-controls="tabpanel-id"
                id="nav-menu-btn"
                type="checkbox"
            />
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                <path d="M3 6.25a.75.75 0 0 1 .75-.75h13.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.25Zm5 6.063a.75.75 0 0 1 .75-.75h11.5a.75.75 0 0 1 0 1.5H8.75a.75.75 0 0 1-.75-.75Zm0 5.937a.75.75 0 0 1 .75-.75h11.5a.75.75 0 0 1 0 1.5H8.75a.75.75 0 0 1-.75-.75ZM3.75 11a.75.75 0 0 1 .75.75v7a.75.75 0 0 1-1.5 0v-7a.75.75 0 0 1 .75-.75Z"></path>
            </svg>
    
            <div role="menu" class="nav-menu-sidebar">
                <h3 class="n-m-s--header">Title</h3>
                <div class="n-m-s--content">
                    <button 
                        role="navigation"
                        class="n-m-s--li"
                        alt="about"
                        href="/about"
                    >
                        About
                    </button>
        
                    <button 
                        role="navigation"
                        class="n-m-s--li"
                        alt="process"
                        href="/process"
                    >
                        Process
                    </button>
                    
                    <button 
                        role="navigation"
                        class="n-m-s--li"
                        alt="contact"
                        href="/contact"
                    >   
                        Contact
                    </button>
                </div>
            </div>
        </label>
    </nav>
    <main>
        <! -- 
        This is a home page, it is the first thing a user sees when they view 
        accepted components: [
            '#two-col-hero', 
            '#three-card-container', 
            '#staggered-two-col',
            '#form-two-col'
        ]
        --> 
        <!-- component -->
        <section id="two-col-hero" class="two-col-hero">
            <div class="t-c-h-content">
                <div class="t-c-h-card">
                    <h3 class="t-c-h-card-title">Call to action</h3>

                    <p class="t-c-h-card-description">
                        Generic that people will click
                    </p>

                    <button class="btn">
                        Learn more!
                    </button>
                </div>
            </div>
            <img class="t-c-h--image" src="https://placehold.co/300x200" alt="">
        </section>
        <!-- component -->
        <section id="three-card-container" class="three-card-container">
                <div class="t-c-container">
                    <h4 class="t-c-title">Example title</h4>
                    <p class="t-c-description">example description</p>
                    
                </div>
                <div class="t-c-container">
                    <h4 class="t-c-title">Example title</h4>
                    <p class="t-c-description">example description</p>

                </div>
                <div class="t-c-container">
                    <h4 class="t-c-title">Example title</h4>
                    <p class="t-c-description">example description</p>
                </div>
        </section>
        <!-- component -->
        <section id="staggered-two-col" class="staggered-two-col">
            <div class="staggered-group">
                <img class="s-g-image" src="https://placehold.co/150x150" alt="">
                <div class="s-g-content">
                    <h3 class="s-g-title">Guess what</h3>
                    <p class="s-g-description">This made you read more about our project and maybe understand the motivation behind why we decided to make it</p>
                </div>
            </div>
            <div class="staggered-group">
                <img class="s-g-image" src="https://placehold.co/150x150" alt="">
                <div class="s-g-content">
                    <h3 class="s-g-title">Guess what</h3>
                    <p class="s-g-description">This made you read more about our project and maybe understand the motivation behind why we decided to make it</p>
                </div>
            </div>
            <div class="staggered-group">
                <img class="s-g-image" src="https://placehold.co/150x150" alt="">
                <div class="s-g-content">
                    <h3 class="s-g-title">Guess what</h3>
                    <p class="s-g-description">This made you read more about our project and maybe understand the motivation behind why we decided to make it</p>
                </div>
            </div>
        </section>
        <!-- component -->
        <section id="form-col" class="form-col">
            <form class="f-c-form">
                <div class="f-c-input">
                    <label for="contact_email">Email</label>
                    <input id="contact_email" type="email" placeholder="cash.money@gmail.com">
                </div>
                <div class="f-c-input">
                    <label for="contact_phone">Phone number</label>
                    <input id="contact_phone" type="phone" placeholder="(808)-561-9202">
                </div>
                <div class="f-c-input">
                    <label for="contact_occupation">Occupation</label>
                    <select id="contact_occupation">
                        <option value="" selected disabled>What do you do for work</option>
                        <option value="founder">Founder</option>
                        <option value="engineer">Engineer</option>
                        <option value="designer">Designer</option>
                        <option value="product manager">Product Manager</option>
                        <option value="doctor">Doctor</option>
                        <option value="lawyer">Lawyer</option>
                    </select>
                </div>
                <div class="f-c-input">
                    <label for="contact_message">Leave a message</label>
                    <textarea name="" id="contact_message" cols="30" rows="10" placeholder="Whats on your mind?"></textarea>
                </div>
                <button 
                    type="submit"
                    class="btn f-c-submit"
                >
                    Submit
                </button>
            </form>
        </section>
	</main>
</body>
</html>